.benefits {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.benefits__inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: clamp(60px, 8vw, 100px) 0;
  list-style: none;
}

.benefit {
  text-align: center;
  padding: 40px 50px;
}

.benefit__title {
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0 10px 0;
}

.benefit__text {
  font-size: 14px;
  color: #737373;
  line-height: 20px;
}

@media (max-width: 760px) {
  .benefits__inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .benefit {
    justify-self: center;
    width: 100%;
    max-width: 329px;
  }
}
